@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

/*@media (min-width: 1028px) {*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Lato', sans-serif;
    height: 100%;
}

/*Nav*/
header {
    position: relative;
    background-color: white;
    padding: 5px;
}

header img {
    padding: 10px;
    display: block;
}

nav {
    position: absolute;
    top: 12px;
    right: 10px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
}

nav.wide a {
    display: block;
    padding: 5px;
    border: 4px solid #000;
    border-radius: 1px;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    margin: 0 10px 0 10px;
}

nav.wide a:hover {
    color: #000;
    border: 1px solid #000;
    padding: 8px;
}

nav.icons {
    width: 50%;
    margin-top: 5px;
    display: inline-block;
}

nav.icons li {
    width: 23%;
}

nav.icons a {
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
}

nav.icons a:hover {
    color: dimgray;
}

h1 {
    font-size: 3em;
    border-bottom: 1px solid white;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-top: 20px;
}

/*footer*/
footer {
    padding: 20px;
    text-align: center;
    background-color: white;
    width: 100%;
    height: 100px;
    margin-bottom: 0;
}

footer a {
    margin: 0 1% 0 1%;
}

footer p {
    margin-top: 20px;
}

.fab {
    font-size: 2em !important;
    color: black;
}

/*responsive styles*/

/* mobile devices */
@media only screen and (min-width: 120px) and (max-width: 375px) {

    nav.wide {
        display: none;
    }

    nav.icons ul li a {
        font-size: 18px;
    }

    footer .fab {
        font-size: 22px !important;
    }

    footer p {
        font-size: 12px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 416px) {

    nav.wide {
        display: none;
    }

    nav.icons ul li a {
        font-size: 24px;
    }

    footer .fab {
        font-size: 24px !important;
        margin: 0 2px 0 2px;
    }

    footer p {
        font-size: 12px;
    }
}

@media only screen and (min-width: 416px) and (max-width: 510px) {

    nav.wide {
        display: none;
    }

    nav.icons {
        display: inline-block;
    }

    nav.icons ul li a {
        font-size: 25px;
    }

    footer .fab {
        font-size: 24px !important;
        margin: 0 2px 0 2px;
    }

    footer p {
        font-size: 12px;
    }
}

@media only screen and (min-width: 510px) and (max-width: 700px) {

    nav.wide {
        display: none;
    }

    nav.icons {
        display: inline-block;
    }

    nav.icons ul li a {
        font-size: 25px;
    }

    footer .fab {
        font-size: 30px !important;
        margin: 0 2px 0 2px;
    }

    footer p {
        font-size: 12px;
    }
}

@media only screen and (min-width: 700px) {

    nav.wide {
        display: inline-block;
    }

    nav.icons {
        display: none;
    }
}
